body {
	background-color: black;
	margin: 0;
}

#calculator {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type='button'] {
	width: 100px;
	height: 100px;
}
#result {
	width: 100%;
	padding: 0 1rem;
}
